<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* background-color: blue; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navBar {
  /* background-color: #231f20; */
  background-color: #287272;
  display: grid;
  grid-template-columns: 10%  auto;

}

.navBar img:hover {
  background-color: #FF8B8B;
}
.navBar img {
  background-color: #yellow;
  /* border-radius: 2em; */

}
.links {
  display: inline-block;
  text-align: right;
  margin-top: 6%;

}
.homeOutter {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 37.5% 25% 37.5%;
  /* grid-template-rows: 100% 100%; */

}
/* .homeInner {
  border-color: black;
  border-style: solid;

} */
.homeInner img {
  padding: 5%;
}
.homeInner span {
  font-size: 10em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 40%;
}
.portfolioPage {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 1000px;
}
.portfolioPage span {
  font-size: 10em;
  font-family: 'Montserrat', sans-serif;
}
.about {
  padding: 10%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
}
.img-thumbnail {
  border-radius: 2em;
}
.demoVideo {
  /* padding: 5%; */
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-column-gap: 15px;
  grid-auto-rows: auto auto;
  grid-row-gap: 5%;
}
.innerDemo {
  display: grid;
  /* grid-column: 2/ 1; */
  grid-template-columns: 20% auto;
  grid-column-gap: 10px;
  grid-template-row: auto auto;
  /* grid-row: 1/ 2; */
}
.btn-outline-dark {
  width: 100%;
  z-index: 2;
}
#outerSpans {
  /* margin-top: 10%; */
  font-weight: bold;
  /* margin-left: 35%; */
}
.embed-responsive embed-responsive-21by9 {
  display: grid;
  grid-template-rows: 80% auto;
  grid-row-gap: 15px;
}
.description {
  /* display: grid;
  grid-template-rows: auto auto auto auto; */
height: 50%;
vertical-align: text-bottom;
line-height: 3em;

/* align-content: space-around; */
}
.carousel-slide {
  /* position: absolute; */
  z-index: -1;
  margin: auto;
   width: 50%;
   /* background-color: #231f20; */
   /* padding: 30px; */

}
/* .graphicDesign {
  margin: auto;
   width: 50%;
   background-color: #231f20;
   padding: 30px;
   border-radius: 2em;

} */
/* .carousel-slide img {
  max-height: 70%;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
} */
.chickenProcess {
  display: grid;
  grid-template-columns: auto auto;
}
.carousel-item {
  height: 100%;
}
#threeColumn {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-rows: 40% auto 40%; */

}
#magazine {
  display: grid;
  grid-template-columns: auto auto auto;
}
#twoColumn {
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
